<ion-header>
  <ion-toolbar>
    <ion-title>HojaDeVida</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  Datos Personales <br>
  Nombres: Katherine Elizabeth <br>
  Apellidos: Vargas Ascencio <br>
  Fecha de nacimiento:    17 de Noviembre del 1996 <br>
  C.I:                    0954733499 <br>
  Estado civil:            Soltera <br>
  Dirección domiciliaria:  Coop. Nueva Prosperina Mz.23-21 Sl.6  <br>
  Nacionalidad:            Ecuatoriana <br>
  Discapacidad:            Ninguna <br>
  Teléfono:                0969313989 <br>
  Correo electrónico:      keva_179@hotmail.com <br>

  <ion-content>
  Estudios Realizados  <br>
  Nivel primario:    Republica Dominicana “25” <br>
  Nivel secundario:  instituto tecnológico superior “Guayaquil” <br>
  Titulo obtenido:   Ciencias sociales <br>
  Nivel terciario:   “Ingeniería en sistemas de información” (5 semestre) <br>
 
<ion-content>
  Experiencia Laboral<br>
    •	Minimarket “2 más y nos vamos” 	 3 meses vendedora y atención al cliente <br>
    •	Banasoya S.A        1 año-2 meses Empacadora <br>
    •	Sumesa S.A          1 año- 2 meses operario base de producción  <br>
    •	Omarsa S. A	   4 meses Operadora de proceso de Camarón <br>
<ion-content>
    Referencias personales<br>
Lcda. Katty Melgar         0988696076 <br>
Lcda. Kelly Chilan         0993702828 <br>

</ion-content>
